@import "../../index.scss";
.about {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  h1 {
    font-weight: 900;
    color: #fea150;
    margin-bottom: 50px;
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 2;
  }
  h3 {
    font-size: 20px;
    line-height: 1;
  }
  p {
    font-size: 14px;
  }
  .my-modal {
    z-index: 10000;
  }
  .about-row {
    width: 100%;
    margin-bottom: 50px;
  }
  .bottom-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    div {
      margin-right: 10px;
      button {
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
      }
    }
  }
}

.modal-content {
  width: 90vw !important;    /* Occupy the 90% of the screen width */
  height: 70vh !important;
} 