@import "../../index.scss";
.shippinginfo {
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 80px;
  flex-direction: column;

  .h1,
  h1 {
    font-weight: 900;
    color: #fea150;
    margin-bottom: 50px;
  }
  .h2,
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .h3,
  h3 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .shipping-image {
    height: auto;
    width: 100%;
  }

  @media (max-width: 1200px) {
    background-image: none;
  }
}
