.back {
    background-image: url("../../assets/main/order-bg.webp");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing:border-box;
    overflow-x: hidden;
}