@import "../../../index.scss";

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  // box-shadow: 2px 0px 2px #00000070, -2px 0px 2px #00000070;
  position: relative;
  line-height: 1.2;
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  .upload-image {
    width: 100%;
    height: auto;
  }
  .label-text {
    z-index: 10;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    color: #ffffff;
    top: 0;
    left: 0;
  }
}
