@import "../../index.scss";
.news {
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 80px;
  flex-direction: column;

  h1 {
    font-weight: 900;
    color: #fea150;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
    line-height: 1.5;
  }
}
