@import "../../../index.scss";

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  // box-shadow: 2px 0px 2px #00000070, -2px 0px 2px #00000070;
  line-height: 1.2;
  position: relative;
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  .upload-image {
    width: 100%;
    height: auto;
  }
  .label-text {
    z-index: 10;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    color: #ffffff;
    top: 0;
    left: 0;
  }
  .label-image {
    position: absolute;
    z-index: 100;
    clip-path: ellipse(31px 39px at 75px 69px);
  }
  .label-image1 {
    position: absolute;
    z-index: 100;
    clip-path: ellipse(80px 100px at 188px 174px);
  }
  .noDrag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
