@import "../../index.scss";
.shipping {
  background-image: url("../../assets/main/order-bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  @media (max-width: 1200px) {
    background-image: none;
  }
}
